* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

input {
    outline: none;
    border:none
}

button {
    outline: none !important;
    border: none;
    background:0 0
}

button:hover {
    cursor:pointer
}

iframe {
    border:none !important
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color:#999
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color:#666
}

.limiter {
    width: 100%;
    margin:0 auto
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background:linear-gradient(-135deg, #c850c0, #4158d0)
}

.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:177px 130px 33px 95px
}

.login100-pic {
    width:316px
}

.login100-pic img {
    max-width:100%
}

.login100-form {
    width:290px
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom:54px
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom:10px
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding:0 30px 0 68px
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0;
    color:rgba(87, 184, 70, .8)
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow .5s ease-in-out forwards;
    animation:anim-shadow .5s ease-in-out forwards
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity:0
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity:0
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition:all .4s
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #57b846;
    padding-left:28px
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:20px
}

.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition:all .4s
}

.login100-form-btn:hover {
    background:#333
}
