<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Hello, world!</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">

                        <form method="POST" enctype="multipart/form-data" action="/">
                            <div class="box">
                                <input type="file" name="file" class="form-control"/>
                                <input type="submit" value="Upload"/>
                            </div>
                        </form>


                    </li>
                    <li class="nav-item">
                        <form method="POST" enctype="multipart/form-data" action="/">
                            <form method="POST" enctype="multipart/form-data" action="/exportPreSet">
                                <div class="box">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="path" required="required"
                                               placeholder="Выберете место">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block buttonToUpload"
                                                value="Upload">
                                            Экспортировать
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </form>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" id="filterButton" type="button">Filter</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="filter-section">
    <div class="container">
        <div class="row">
            <form id="add-form" enctype="multipart/form-data" action="/add-form" method="post">
                <input name="searchTxt" type="text" id="searchTxt"/>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-c">
                    <div class="center-c">
                        <button type="button" class="btn btn-primary" id="play-button">Play</button>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="preset-table">
                    <table class="table table-light table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Use</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form id="preSetForm" enctype="multipart/form-data" action="/usePreSet" method="post">
                            {{#preSets}}
                                <tr>

                                    <td><input type="checkbox" name="used" value="<{{name}}>>"></td>
                                    <td>{{name}}</td>
                                </tr>
                            {{/preSets}}
                        </form>
                        </tbody>
                    </table>
                </div>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary" id="add-preSet">Добавить</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary">Secondary</button>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col">
                <div class="preset-table">
                    <table class="table table-light table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Use</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form id="domenForm" enctype="multipart/form-data" action="/addDomen" method="post">
                            {{#domens}}
                                <tr>
                                    <td><input type="checkbox" name="domens" value="<{{name}}>>"></td>
                                    <td>{{name}}</td>
                                </tr>
                            {{/domens}}
                        </form>
                        </tbody>
                    </table>
                </div>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary" id="add-domen">Добавить</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary">Secondary</button>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col">

            </div>
        </div>
    </div>


</div>
<div class="main-table">
    <table class="table table-striped table-bordered">
        <thead>
        <tr id="table-names">
            {{#headers}}
                <th scope="col">{{header}}</th>
            {{/headers}}
        </tr>
        </thead>
        <tbody>
        {{#data}}
            <tr>
                {{#.}}
                    <td>{{Data}}</td>
                {{/.}}
            </tr>
        {{/data}}
        </tbody>
    </table>
</div>
<div class="move-buttons">
    <form method="POST" enctype="multipart/form-data" action="/changeView">
        <input type="hidden" name="direction" value="left"/>
        <button class="btn btn-primary" type="submit" value="Log">left</button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="/changeView">
        <input type="hidden" name="direction" value="right"/>
        <button class="btn btn-primary" type="submit" value="Log">right</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="assets/js/application.js"></script>
</body>
</html>