<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/application.css">
    <title>Hello, world!</title>
</head>
<body>
<header>
    <img src="assets/img/2.png" id="logo-img" style="margin-left: 2rem">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="container-centre">
                            <div class="c-c">
                                <form id="target" method="POST" enctype="multipart/form-data" action="/">
                                    <div class="box">
                                        <div class="example-1">
                                            <div class="form-group">
                                                <label class="label">
                                                    <div class="container-centre">
                                                        <div class="c-c">
                                                            <img class="import-img" src="assets/img/1588.png">
                                                            <input class="out" id="file" name="file" type="file"
                                                                   onChange="$(this).closest('form').submit()">
                                                        </div>
                                                    </div>

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </li>

                    <li class="nav-item">
                        <div class="container-centre">
                            <div class="c-c">
                                <img src="assets/img/export.png" id="export-button">
                            </div>
                        </div>

                    </li>
                    <li class="nav-item">
                        <div class="container-centre">
                            <div class="c-c">
                                <img id="filterButton" src="assets/img/filter.png" id="export-button">
                            </div>
                        </div>

                    </li>
                    <li class="nav-item">
                        <div class="container-centre">
                            <div class="c-c">
                                <img src="assets/img/vr.png" id="cancel-button">
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<hr class="top-hr">
<!--PopUp-->
<div class="popup center popup-preset">
    <div class="icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="title">
        Вы действительно хотите удалить пресет?
    </div>
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn-preset">
            Нет
        </button>
        <button id="confirm-popup-btn-preset">
            Да
        </button>
    </div>
</div>
<!--PopUp-->
<!--PopUp-->
<div class="popup center popup-export">
    <div class="icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="title">
        <form method="POST" enctype="multipart/form-data" action="/exportPreSet">
            <div class="box">
                <div class="form-group">
                    <input type="text" class="form-control" name="path" required="required"
                           placeholder="Выберете место">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block buttonToUpload"
                            value="Upload">
                        Экспортировать
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn-export">
            Отмена
        </button>
        <button id="confirm-popup-btn-export">
            Экспортировать
        </button>
    </div>
</div>
<!--PopUp-->
<!--PopUp-->
<div class="popup center popup-domen">
    <div class="icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="title">
        Вы действительно хотите удалить домен?
    </div>
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn-domen">
            Нет
        </button>
        <button id="confirm-popup-btn-domen">
            Да
        </button>
    </div>
</div>
<!--PopUp-->
<!--PopUp-->
<div class="popup center popup-edit">
    <div class="icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="title">
        Вы действительно хотите изменить данные?
    </div>
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn-edit">
            Нет
        </button>
        <button id="confirm-popup-btn-edit">
            Да
        </button>
    </div>
</div>
<form id="cancel-form" enctype="multipart/form-data" action="/cancel-form" method="post">
</form>
<!--PopUp-->
<div id="filter-section">
    <div class="container">
        <div class="row">
            <div class="ineer-div">
                <form id="add-form" enctype="multipart/form-data" action="/add-form" method="post">
                    <input name="searchTxt" placeholder="Name" type="text"  id="searchTxt" style="margin-left: 2rem"/>
                </form>
            </div>

        </div>
        <div class="row second-row">
            <div class="col-2">
                <div class="container-centre cont-1">
                    <div class="c-c">
                        <img src="assets/img/552-5520952_play-button-watch-video-understand-the-power-clarip.png"
                             id="play-button">
                    </div>
                </div>
            </div>
            <div class="col-3 colTwo">
                <div class="container-centre d-t">
                    <div class="c-c">
                        <div>Пресеты</div>
                    </div>
                </div>

                <div class="preset-table">
                    <table class="table gray">
                        <tbody>
                        <form id="preSetForm" enctype="multipart/form-data" action="/usePreSet" method="post">
                            {{#preSets}}
                                <tr style="border: none; height: 3rem">

                                    <td style="border: none; width: 3rem">

                                        <div class="container-centre" style="height: 3rem; ">
                                            <div class="c-c">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" name="used" value="{{name}}">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>


                                    </td>
                                    <td style="border: none; text-align: center;background: #b0b0b0;">
                                        <div class="container-centre" style="height: 3rem; ">
                                            <div class="c-c">
                                                <div class="dropdown" style="background: #b0b0b0; ">
                                                    <button class="dropbtn"
                                                            style="background: #b0b0b0; border: none;">{{name}}</button>
                                                    <div style="text-align: center" class="dropdown-content">
                                                        <div style="text-align: center">{{sets}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                            {{/preSets}}
                        </form>
                        </tbody>
                    </table>
                </div>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary" id="add-preSet">Добавить</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary" id="delete-preset">Удалить</button>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-3">
                <div class="container-centre d-t">
                    <div class="c-c">
                        <div>Домены</div>
                    </div>
                </div>

                <div class="preset-table">
                    <table class="table">
                        <tbody>
                        <form id="domenForm" enctype="multipart/form-data" action="/addDomen" method="post">
                            {{#domens}}
                                <tr style="border: none; text-align: center">
                                    <td style="border: none; width: 3rem">
                                        <div class="container-centre" style="height: 3rem; width: 3rem">
                                            <div class="c-c">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" name="used" value="{{name}}">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>


                                    </td>
                                    <td style="border: none; text-align: center">
                                        <div class="container-centre" style="height: 3rem; ">
                                            <div class="c-c">
                                                {{name}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{/domens}}
                        </form>
                        </tbody>
                    </table>
                </div>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary" id="add-domen">Добавить в пре-сет</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary" id="delete-domen">Удалить</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary" id="add-new-domen">Добавить домен</button>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>


</div>
<div class="main-table" style="margin-left: 0">
    <table class="table" id="main-table">
        <thead>
        <tr id="table-names">
            {{#headers}}
                <th style="border: none" scope="col">{{header}}</th>
            {{/headers}}
            <th style="border: none">Confirm</th>
        </tr>
        </thead>
        <tbody id="tbod">
        {{#data}}
            <tr class="trr" style='border:  border-left: 1px solid #ddd;
    border-right: none; border-bottom: none;'>
                {{#.}}
                    <td style='border:  border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; border-bottom: none; text-align: center;' class="main-table-cell"><input
                            style=' fon text-align: center; border: 0px;'
                            value="{{Data}}"></td>
                {{/.}}
                <th style='border:  border-left: 1px solid #ddd;
    border-right: none; border-bottom: none; text-align: center;'>
                    <button style='border-radius: 20px' type="button" class=" btn btn-primary conf-button eButton">
                        Подтвердить
                    </button>
                </th>
            </tr>
        {{/data}}
        </tbody>
    </table>
</div>
<div class="move-buttons">
    <form method="POST" enctype="multipart/form-data" action="/changeView">
        <input type="hidden" name="direction" value="left"/>
        <button class="btn btn-primary" type="submit" value="Log">left</button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="/changeView">
        <input type="hidden" name="direction" value="right"/>
        <button class="btn btn-primary" type="submit" value="Log">right</button>
    </form>
</div>
<script src="assets/js/application.js"></script>
</body>
</html>