<!--<html>-->
<!--<body>-->


<!--<div>-->
<!--    <form method="POST" enctype="multipart/form-data" action="/">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>File to upload:</td>-->
<!--                <td><input type="file" name="file"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td></td>-->
<!--                <td><input type="submit" value="Upload"/></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SHrek</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->

    <!-- =======================================================
    * Template Name: FlexStart - v1.2.0
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<style>
    /**
* Template Name: FlexStart - v1.2.0
* Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

    /*--------------------------------------------------------------
    # General
    --------------------------------------------------------------*/
    .main-table {
        overflow-scrolling: auto;
    }

    :root {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Open Sans", sans-serif;
        color: #444444;
    }

    a {
        color: #4154f1;
        text-decoration: none;
    }

    a:hover {
        color: #717ff5;
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Nunito", sans-serif;
    }

    /*--------------------------------------------------------------
    # Sections
    --------------------------------------------------------------*/
    section {
        padding: 60px 0;
        overflow: hidden;
    }

    .section-header {
        text-align: center;
        padding-bottom: 40px;
    }

    .section-header h2 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0;
        color: #4154f1;
        text-transform: uppercase;
    }

    .section-header p {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;
        color: #012970;
    }

    @media (max-width: 768px) {
        .section-header p {
            font-size: 28px;
            line-height: 32px;
        }
    }


    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    .header {
        transition: all 0.5s;
        z-index: 997;
        padding: 20px 0;
    }

    .header.header-scrolled {
        background: #fff;
        padding: 15px 0;
        box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    }

    .header .logo {
        line-height: 0;
    }

    .header .logo img {
        max-height: 40px;
        margin-right: 6px;
    }

    .header .logo span {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #012970;
        font-family: "Nunito", sans-serif;
        margin-top: 3px;
    }


    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /**
    * Desktop Navigation
    */
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #013289;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover, .navbar .active, .navbar li:hover > a {
        color: #4154f1;
    }

    .navbar .getstarted {
        background: #4154f1;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }

    .navbar .getstarted:hover {
        color: #fff;
        background: #5969f3;
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

    .navbar .dropdown ul li {
        min-width: 200px;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 600;
    }

    .navbar .dropdown ul a i {
        font-size: 12px;
    }

    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
        color: #4154f1;
    }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

    @media (max-width: 1366px) {
        .navbar .dropdown .dropdown ul {
            left: -90%;
        }

        .navbar .dropdown .dropdown:hover > ul {
            left: -100%;
        }
    }

    /**
    * Mobile Navigation
    */
    .mobile-nav-toggle {
        color: #012970;
        font-size: 28px;
        cursor: pointer;
        display: none;
        line-height: 0;
        transition: 0.5s;
    }

    .mobile-nav-toggle.bi-x {
        color: #fff;
    }

    @media (max-width: 991px) {
        .mobile-nav-toggle {
            display: block;
        }

        .navbar ul {
            display: none;
        }
    }

    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(1, 22, 61, 0.9);
        transition: 0.3s;
    }

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        border-radius: 10px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    .navbar-mobile a {
        padding: 10px 20px;
        font-size: 15px;
        color: #012970;
    }

    .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
        color: #4154f1;
    }

    .navbar-mobile .getstarted {
        margin: 15px;
    }

    .navbar-mobile .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;

    }

    .navbar-mobile .dropdown ul li {
        min-width: 200px;
    }

    .navbar-mobile .dropdown ul a {
        padding: 10px 20px;
    }

    .navbar-mobile .dropdown ul a i {
        font-size: 12px;
    }

    .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
        color: #4154f1;
    }

    .navbar-mobile .dropdown > .dropdown-active {
        display: block;
    }

    body {
        color: #fff;
        /*background: #3598dc;*/
    }

    .form-control {
        min-height: 41px;
        background: #f2f2f2;
        border: transparent;
    }

    .form-control:focus {
        background: #e2e2e2;
    }

    .form-control, .btn {
        border-radius: 2px;
    }

    .login-form {
        width: 350px;
        margin-top: 100px;
        text-align: center;
    }

    .login-form h2 {
        margin: 10px 0 25px;
    }

    .login-form form {
        color: #7a7a7a;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        padding: 30px;
    }

    .login-form .btn {
        font-size: 16px;
        font-weight: bold;
        background: #3598dc;
        border: none;
        outline: none !important;
    }

    .login-form .btn:hover, .login-form .btn:focus {
        background: #2389cd;
    }

    .login-form a {
        color: #fff;
        text-decoration: underline;
    }

    .login-form a:hover {
        text-decoration: none;
    }

    .login-form form a {
        color: #7a7a7a;
        text-decoration: none;
    }

    .login-form form a:hover {
        text-decoration: underline;
    }

    .container {
        margin-left: 0;
        padding-top: 50px;
    }

    .buttonToUpload {
        padding: 5px;
        margin-top: 5px;
    }

    #left-part {
        /*background-color: #0a58ca;*/
        text-align: center;
    }

    #right-part {
        /*background-color: #ffcd39;*/

    }

    .main-table {
        overflow: scroll;
        height: 800px;
        margin-top: 100px;
    }

    .container-fluid {
        padding-right: 50px;

    }
</style>
<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <span>SHrek</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/sorting">Отсортировать таблицу</a></li>
                <li><a class="getstarted scrollto" href="/login">Выйти</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->

<div class="container-fluid">
    <div class="main-table">
        <table class="table table-striped table-bordered main-table" id="main-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sex</th>
                <th scope="col">Age</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            {{#items}}
                <tr>
                    <th scope="row">{{index}}</th>
                    <td>{{name}}</td>
                    <td>{{sex}}</td>
                    <td>{{age}}</td>
                    <td>{{phone}}</td>
                    <td>{{email}}</td>
                </tr>
            {{/items}}
            </tbody>
        </table>
    </div>


</div>
</div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>
